* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/*home*/
.home {
  width: 100%;
  height: 100vh;
  background-color: #FFCCFF;
}
/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 110px;
  padding: 10px 30px;
  position: fixed;
}
.logo h1{
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffd400;
  text-shadow: 3px 4px 5px red;
  font-weight: 500;
  justify-content: center;
}

/*Main*/
.main {
  display: flex;
  height: 100vh;
  align-items: center;
}
.col {
  flex-basis: 50%;
}
.col1 {
  margin-left: 45px;
}
.col h2 {
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffd400;
  text-shadow: 3px 4px 5px red;
  font-weight: 600;
}
.col p {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: tomato;
  font-weight: 500;
  margin-top: 20px;
}

.col button{
  margin-top: 30px;
  padding: 10px 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #fa8ee5;
  border: 1px solid #fa8ee5;
  border-radius: 6px;
  color: #ffd400;
  text-shadow: 3px 4px 5px red;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}
.col button:active {
  background-color: #fa923f;
}
.card {
  width: 200px;
  display: inline-block;
  box-sizing: border-box;
  height: 220px;
  margin: 10px 15px;
  padding: 15px 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.8s ease;
  position: relative;
  cursor: pointer;
}
.card1 {
  background-image: url(Assets/worlddj.jpeg);
}
.card2 {
  background-image: url(Assets/hiphop.jpeg);
}
.card3 {
  background-image: url(Assets/bluespring.jpeg);
}
.card4 {
  background-image: url(Assets/jazz.jpeg);
}
.card5 {
  background-image: url(Assets/umf.jpeg);
}
.card6 {
  background-image: url(Assets/bml.jpeg);
}

.card:hover .overlay {
  opacity: 10;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  height: 700px;
  width: 600px;
}

.fade-out {
  animation: fadeOut 0s forwards; /* 0.5초 동안 앞으로 진행되는 fadeOut 애니메이션을 적용합니다. */
}

.fade-in {
  animation: fadeIn 0.1s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}

@keyframes fadeIn {
  from { opacity: 0; visibility: visible; }
  to { opacity: 1; }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke; 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.image-container:hover .overlay {
  opacity: 1;
}