
* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #CEF6D8;
}

.home {
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 110px;
  padding: 10px 45px;
  position: fixed;
}

.logo h1 {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #D7DF01;
  text-shadow: 3px 4px 5px tomato;
  font-weight: 500;
  justify-content: center;
}

.main {
  display: flex;
  height: 400px;
  align-items: center;
}

.col {
  flex-basis: 50%;
}

.col1 {
  margin-left: 45px;
  margin-top: 250px;
}

.col h2 {
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #D7DF01;
  text-shadow: 3px 4px 5px tomato;
  font-weight: 600;
  margin-top: 50px;
}

.col p {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #D7DF01;
  text-shadow: 3px 4px 5px tomato;
  font-weight: 500;
  margin-top: 70px;
}

.styles_container__xkJAz {
  margin-top: 210px;
  justify-content: center;
}

.footer {
  margin-top: 400px;
  padding: 10px 45px;
  color: #D7DF01;
  text-shadow: 3px 4px 5px tomato;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
