.c {
  position: absolute;
  max-width: 650px;
  max-height: 800px;
  cursor: pointer;
  will-change: transform, opacity;
}

.container {
  align-items: center;
  width: auto; 
  height: 700px;
  margin-bottom: 90px;
  justify-content: center;
  position: relative;
}

.container > div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  will-change: transform, opacity;
  -webkit-user-select: none;
  user-select: none;
}

