.c {
  position: absolute;
  max-width: 350px;
  max-height: 500px;
  cursor: pointer;
}

.container {
  align-items: center;
  width: 20px; 
  margin-top: 320px;
  position: relative;
}

.container > div {
  cursor: pointer;
  display: flex;
}

