.c {
  position: absolute;
  max-width: 550px;
  max-height: 700px;
  cursor: pointer;
  will-change: transform, opacity;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container > div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  will-change: transform, opacity;
  user-select: none;
}

